<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Analyse textes</title>
</head>

<body>
    <div>
        <form method="post" enctype="multipart/form-data">
            <input type="file" name="file">
            <p>{% if fichier_charge == "" %} Aucun fichier chargé {% else %} Fichier chargé : {{ fichier_charge }} {% endif %}</p>

            <label for="variables">Choisir des variables</label>
            <select name="variables" id="variables">
            
            </select>

            <label for="modeles">Choisir un modele</label>
            <select name="modeles" id="modeles">
                {% for modele in modeles %}
                <option value="{{ modele }}" {% if modele==modele_selectionne %}selected{% endif %}>{{ modele }}</option>
                {% endfor %}
            </select>

            <input type="submit" value="Analyser">
        </form>
    </div>
</body>

</html>