<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Analyse textes</title>

    <!-- Install JQuery -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <!-- Install bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <!-- Install plotly.js -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>

    <!-- Load dropzone-->
    {{ dropzone.load_css() }}
    {{ dropzone.style('border: 2px dashed #0087F7; border-radius : 20px; min-height: 15%; max-width: 75%') }}
</head>

<body>
    <aside id="inputs">
        <section id="file-input">
            <h2>Importer un fichier</h2>
            <!-- Selection de fichier -->
            <script>
                dropzone_message = "[Glissez-déposez ou cliquez pour sélectionner] <br><br>"
                is_fichier_charge = "{{ fichier_charge | safe }}" != "" && "{{ fichier_charge | safe }}" != "None"
                temp = is_fichier_charge ? "Fichier chargé : {{ fichier_charge | safe }}" : "Aucun fichier chargé"
                dropzone_message = dropzone_message + temp
            </script>

            <!-- affichage de la dropzone-->
            {{ dropzone.create(action='index') }}
            {{ dropzone.load_js() }}
            {{ dropzone.config(
                custom_options='addRemoveLinks: true, 
                                dictDefaultMessage: dropzone_message') }}

            <!-- Selection de fichier récent -->
            <form method="post" enctype="multipart/form-data" action="{{ url_for('modifier_fichier') }}" id="recent_file_form">
                <label for="recent_files_choice">Choisir un fichier récemment utilisé</label>
                <select name="recent_files_choice" id="recent_files_choice">
                    {% if fichier_charge == "" or fichier_charge == None %}
                    <option value="" selected>Choisir un fichier</option>
                    {% endif %}
                    {% for fichier_recent in fichiers_recents %}
                    <option value="{{ fichier_recent }}" {% if fichier_recent == fichier_charge %}selected{% endif %}>{{ fichier_recent }}</option>
                    {% endfor %}
                </select>
            </form>
            <script src="{{url_for('static', filename='on_file_selected.js')}}"></script>
        </section>

        <!-- Sélection d'élève, sélection de modèle et calcul de leurs corrélations -->
        <section id="parametres">
            <h2>Paramètres</h2>
            <!-- Sélection d'un élève -->
            <form method="post" id="eleve_form" action="{{ url_for('modifier_eleve') }}">
                <label for="eleve_choice">Élève : </label>
                <select name="eleve_choice" id="eleve_choice">
                    <option value="" {% if eleve_selectionne == None %}selected{% endif %}>Choisir un élève</option>
                    {% for eleve in eleve_disponibles %}
                    <option value="{{ eleve['INE'] }}" {% if eleve==eleve_selectionne %}selected{% endif %}>{{ eleve['nom'] + ' ' + eleve['prenom'] }}</option>
                    {% endfor %}
                </select>
            </form>
            <script src="{{url_for('static', filename='on_eleve_change.js')}}"></script>
            <!-- Sélection d'un modèle -->
            <div id="modeles">
                <form method="post" id="parametre_form" action="{{ url_for('modifier_modele_choisi') }}" style="margin: 0;">
                    <label for="modeles_choice">Modèle : </label>
                    <select name="modeles_choice" id="modeles_choice">
                        {% for modele in modeles_disponibles %}
                        <option value="{{ modele.nom }}" {% if modele.nom==modele_selectionne %}selected{% endif %}>{{ modele.nom }} ; corrélation : {{ modele.correlation }}</option>
                        {% endfor %}
                    </select>
                </form>
                <script src="{{url_for('static', filename='on_parametre_change.js')}}"></script>
            
                <form role="form" method="post" action="{{ url_for('correler_modele') }}" style="margin: 0;">
                    {{ form.hidden_tag() }}
                    <input class="btn btn-success rounded-pill btn-enreg" type="submit" value="Calculer les corrélations">
                </form>
            </div>
        </section>

        <!-- Ajout de modèles -->
        <section id="autres">
            <h2 class="ajout-modele">Ajouter un modèle IA</h2>
            <form role="form" method="post" action="{{ url_for('save_modele') }}" id="add_modele_form">
                {{ form.hidden_tag() }}
                
                <div class={% if form.nom.errors %}"form-group has-error"{% else %}"form-group"{% endif %}>
                    {{ form.nom.label }}
                    <div>
                        {{ form.nom(size=50, class_="form-control") }}
                    </div>
                </div>

                {% if form.nom.errors%}
                <ul class="list-group">
                    {% for e in form.nom.errors%}
                    <li class="list-group-item list-group-item-danger">{{e}}</li>
                    {% endfor%}
                </ul>
                {% endif%}

                <script charset="utf-8" type="text/javascript">

                $(function() {
                    var dropdown = {
                        nom: $('#field_nom'),
                        label: $('#select_label')
                    };

                    // call to update on load
                    updateLabel();

                    // function to call XHR and update label dropdown
                    function updateLabel() {
                        dropdown.label.attr('disabled', 'disabled');
                        dropdown.label.empty();

                        var modele = dropdown.nom.val().includes("/") ? dropdown.nom.val() : "a/a";

                        var url = `/get/labels/${modele}`
                        console.log(url)

                        fetch(url)
                            .then(response => response.json())
                            .then(labels => {
                                labels.forEach(label => {
                                    dropdown.label.append(
                                        $('<option>', {
                                            value: label,
                                            text: label
                                        })
                                    );
                                });
                                dropdown.label.removeAttr('disabled');
                            })
                            .catch(error => {
                                console.log("Erreur durant le fetch : ", error);
                            });
                    }

                    // event listener to nom dropdown change
                    dropdown.nom.on('change', function() {
                        updateLabel();
                    });

                });

                </script>


                <div class={% if form.label_positif.errors %}"form-group has-error"{% else %}"form-group"{% endif %}>
                    {{ form.label_positif.label }}
                    <div>
                        {{ form.label_positif(class_="form-control") }}
                    </div>
                </div>

                {% if form.label_positif.errors%}
                <ul class="list-group">
                    {% for e in form.label_positif.errors%}
                    <li class="list-group-item list-group-item-danger">{{e}}</li>
                    {% endfor%}
                </ul>
                {% endif%}

                <input class="btn btn-success rounded-pill btn-enreg" type="submit" value="Ajouter">

            </form>
        </section>
    </aside>

    <article id="graphique-zone">
        <!-- Tout les éléments qui seront affiché lorsqu'un fichier à été sélectionné comme le choix du modèle, le graphique et la bar de chargement -->
        <div id="graphique">
            {% if eleve_selectionne %}
            <!-- Zone du graphique -->
            <div class="chart" id="bargraph"></div>
            <p id="selected_text"></p>

            <!-- Zone de la bar de chargement -->
            <!-- <div class="progress" id="progress" style="width:50%; margin: 50px;">
                <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                    <span class="progress-bar-label">0%</span>
                </div>
            </div> -->
            <div class="progress-container" id="progress-container" style="width:50%; margin: 50px;">
                <div class="progress" id="progress">
                    <div class="progress-bar progress-bar-striped active" role="progressbar"
                         aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                        <span class="progress-bar-label">0%</span>
                    </div>
                </div>
                <p id="progress-bar-status">Chargement</p>
            </div>
            

            <!-- Script de la zone de chargement-->
            {% if fichier_charge != "" %}
            <script src="{{url_for('static', filename='load_graph.js')}}"></script>
            {% endif %}
            {% endif %}
        </div>
        <p id="informations"></p>
    </article>

    <!-- Affichage de graphique-zone -->
    <script>
        var text_info = document.getElementById("informations");
        var graphique_zone = document.getElementById("graphique");
    </script>
    {% if fichier_charge == "" or fichier_charge == None %}
    <script>
        text_info.textContent = "Aucun fichier chargé"
        graphique_zone.style.display = "none"
    </script>
    {% elif eleve_selectionne == "" or eleve_selectionne == None %}
    <script>
        text_info.textContent = "Aucun élève sélectionné"
        graphique_zone.style.display = "none"
    </script>
    {% else %}
    <script>
        text_info.textContent = ""
        graphique_zone.style.display = "block"
    </script>
    {% endif %}
</body>

</html>