<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Analyse textes</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
</head>

<body>
    <div>
        <form method="post" enctype="multipart/form-data">
            <input type="file" name="file">
            <p>{% if fichier_charge == "" %} Aucun fichier chargé {% else %} Fichier chargé : {{ fichier_charge }} {% endif %}</p>

            <input type="submit" name="charger" value="Charger">
        </form>

        <form method="post">
            <label for="variables">Choisir des variables</label>
            <select name="variables" id="variables">
            
            </select>
            
            <label for="modeles">Choisir un modele</label>
            <select name="modeles" id="modeles">
                {% for modele in modeles %}
                <option value="{{ modele }}" {% if modele==modele_selectionne %}selected{% endif %}>{{ modele }}</option>
                {% endfor %}
            </select>

            <input type="submit" name="analyser" value="Analyser">
        </form>
    </div>
    {% if data != "" %}
    <div class="chart" id="bargraph">
        <script>
            var graphs = {{ data | safe}};
            Plotly.plot('bargraph', graphs, {});
        </script>
    </div>
    {% endif %}
</body>

</html>