body {
    display: flex;
}

body>aside {
    width: 40%;
}

body>article {
    width: 60%;
}

/* body>aside, body>article {
    flex: 1;
} */

#graphique-zone {
    margin: auto;
    padding: auto;
}