body {
    display: flex;
}

body>aside {
    width: 40%;
}

body>article {
    width: 60%;
}

#graphique-zone {
    margin: auto;
    padding: auto;
}

#add_modele_form>div>div {
    display: flex;
    align-items: center;
    gap: 10px;
}

#modeles {
    display: flex;
    align-items: center;
    gap: 10px;
}

#parametre_form {
    display: flex;
    flex-direction: column;
}